<div class="footer-name">
    <p>Gordon Freeman High School</p>
    <p>1998</p>
</div>

<div class="footer-adress">
    <span class="footer-adress-title">Contact:</span>
    <ul>
        <li class="footer-adress-info">Adress: 10900 NE 4th St Ste 500, Bellevue, WA 98004 USA</li>
        <li class="footer-adress-info">Telephone: 425-208-1984</li>
    </ul>
</div>

<div class="footer-author">
    <p>
        Author:
        <a class="author-sign" href="https://github.com/NotSirius-A" target="_blank" rel="noopener noreferrer">
            NotSirius-A
        </a>
    </p>
</div>